<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head(Cupcake)">
    <title th:text="${Cupcake}">Frontpage</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>

<div id="page-container">

    <div id="page-content">
        <header th:fragment="header(title)">
            <img src="images/cupcakes.png" height="305" width="955"/>
            <h1 th:text="${Indkøbskurv}"></h1>
        </header>
        <form action="/cart" method="post">
        <ol>
            <li th:each="orderline : ${#ctx.session.cart.cartItems}">
                <span th:text="${orderline.quantity + ' x ' + orderline.tops.top + ' med ' + orderline.bottoms.bottom}"></span>
            </li>
        </ol>

        </form>


        <p>Pris i alt: <span th:text="${#ctx.session.cart.gettotalprice}"></span></p>




        <form method="get" action="/payment" >
            <button type="submit">Til betaling</button>
        </form>
        <form method="get" action="/order">
            <button type="submit">Tilbage til bestillinger</button>
        </form>


        <footer th:fragment="footer">
            <a th:if="${#ctx.session.currentUser} != null" th:href="@{/logout}">Log ud</a>
            <a href="/">Startside</a>

        </footer>
    </div>
</div>
</body>
</html>
