<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head(title)">
    <title th:text="${title}">Frontpage</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>

<div id="page-container">

    <div id="page-content">
        <header th:fragment="header(title)">
            <img src="images/cupcakes.png" height="305" width="955"/>
            <h1 th:text="${title}"></h1>
        </header>

        <form action="/order" method="post">
            <select name="top_id">
                <option th:each="tops : ${#ctx.session.topsList}"
                        th:value="${tops.top_id}"
                        th:text="${tops.top_id + ' ' +tops.top + ' - beløb: ' + tops.top_price + ' kroner'}"></option>
            </select>
            <select name="bottom_id">
                <option th:each="bottoms : ${#ctx.session.bottomsList}"
                        th:value="${bottoms.bottom_id}"
                        th:text="${bottoms.bottom_id + ' '+ bottoms.bottom + ' - beløb: ' + bottoms.bottom_price + ' kroner'}"></option>
            </select>
            <label for="quantity">Antal:</label>
            <input type="number" name="quantity" id="quantity" value="1" min="1">
            <button type="submit" id="submit-button">Læg i kurv</button>


        </form><br>
        <form method="get" action="/cart">
         <button type="submit" th:href="@{/cart}">Indkøbskurv</button>
        </form>


        <footer th:fragment="footer">
            <a th:if="${#ctx.session.currentUser} != null" th:href="@{/logout}">Logout</a>
            <a href="/">Startside</a>
        </footer>
    </div>
</div>
</body>
</html>
