<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head(title)">
    <title th:text="${title}">Frontpage</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>

<div id="page-container">

    <div id="page-content">
        <header th:fragment="Cupcake">
            <img src="images/cupcakes.png" height="305" width="955"/>
            <h1 th:text="${Betaling}"></h1>
        </header>

        <form action="/payment" method="post">
            <select name="order_id">
                <option th:each="orderline : ${orderlineArrayList}"
                        th:value="${orderline.order_id}"
                        th:text="${'Order ID: ' + orderline.order_id + ', Top ID: ' + orderline.top_id +
                        ', Top: ' + orderline.top + ', Top Price: ' + orderline.top_price +
                        ', Bottom ID: ' + orderline.bottom_id + ', Bottom: ' + orderline.bottom +
                        ', Bottom Price: ' + orderline.bottom_price + ', Quantity: ' + orderline.quantity +
                        ', Total Price: ' + orderline.total_price}"></option>
            </select>
        </form>

        <footer th:fragment="footer">

            <a th:if="${#ctx.session.currentUser} != null" th:href="@{/logout}">Logout</a>
            <a href="/">Home</a>
        </footer>
    </div>
</div>
</body>
</html>
