
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <link rel="stylesheet" href="../public/css/styles.css">
</head>

<!--<div th:replace="~{fragments :: head('title')}"></div>
<style>
    header {
    }

    container {
        background-color: white;
        display: -webkit-flex;
        display: flex;
        width: 1300px;
    }
    body {
        background-color: white;
        display: flex;
        justify-content: center;
        height: 100%;
        font-family: "Open Sans";
        font-size: 16px;
    }

    column {
        align-content: center;
    }

    input, select {
    }
    button{
    }
</style>-->

<body>

<div class="flex-container">
    <div class="header">
        <div class="big_head">big head</div>
        <div class="small_head">small head</div>

    </div>

    <div class="boxes">
        <div class="flex-box1">1</div>
        <div class="flex-box2">2</div>
    </div>

    <div class="footer">footer
        <p>Her er en footer</p>
    </div>

</div>
</body>
</html>
